html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: gray;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}


header {
  display: flex;
  background-color: #011609;
  color: white;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px; 
}



h1 {
  font-size: 8rem;
  margin: 10px 100px;
  font-weight: normal;
  text-align: center;
}



#how-to, #reset {
  font-size: 1.2rem;
  text-align: center;

}







.board {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px;
  grid-template-areas:
        "hole13 hole12 hole11 hole10 hole9 hole8 hole7 hole6"
        "hole13 hole0 hole1 hole2 hole3 hole4 hole5 hole6";
}

#p1Manc {
  grid-area: p1;
}

#p2Manc {
  grid-area: p2;
}

#hole0 {
  grid-area: hole0;
}

#hole1 {
  grid-area: hole1;
}

#hole2 {
  grid-area: hole2;
}

#hole3 {
  grid-area: hole3;
}

#hole4 {
  grid-area: hole4;
}

#hole5 {
  grid-area: hole5;
}

#hole6 {
  grid-area: hole6;
}

#hole7 {
  grid-area: hole7;
}

#hole8 {
  grid-area: hole8;
}

#hole9 {
  grid-area: hole9;
}

#hole10 {
  grid-area: hole10;
}

#hole11 {
  grid-area: hole11;
}

#hole12 {
  grid-area: hole12;
}

#hole13 {
  grid-area: hole13;
}