html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: gray;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}


header {
  display: flex;
  background-color: #011609;
  color: white;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px; 
}



h1 {
  font-size: 8rem;
  margin: 10px 100px;
  font-weight: normal;
  text-align: center;
}



#reset  {
  font-size: 1.3rem;
  text-align: center;
}



#howToButton {
  font-size: 1.3rem;
  text-align: center;

}

.modal-body {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  color: black;
}




main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




main > div {
  width: 95%;
  height: 350px;
}

#player-1, #player-2 {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 50px;
  text-transform: uppercase;

}


#board {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px red solid;
}

#board > div {
  height: 100%;
}



#col-1, #col-3 {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px blue solid;
  border-radius: 30%;
}


#col-2 {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#row-1, #row-2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

#row-1 > div, #row-2 > div {
  border: 1px black solid;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
}


#hole13 >, #hole6 {
  height: 80%;
  width: 80%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

}